<div class="footer" style="background-color: #FBFBFB; text-align: center; font-size: 14px; color: #777; padding: 30px 10px;">
  <div class="social-icons" style="margin-bottom: 24px;">
    <a href="https://www.linkedin.com/company/tatamihq">
      <img
        src="https://res.cloudinary.com/musonant/image/upload/v1728975145/Tatami/linkedin-logo_cri3zp.png"
        alt="LinkedIn"
        style="width: 24px; margin: 0 5px;"
      />
    </a>

    <a href="https://www.instagram.com/tatamihq/">
      <img
        src="https://res.cloudinary.com/musonant/image/upload/v1728975204/Tatami/instagram-logo_npozlj.png"
        alt="Instagram"
        style="width: 24px; margin: 0 5px;"
      />
    </a>

    <a href="#">
      <img
        src="https://res.cloudinary.com/musonant/image/upload/v1728975204/Tatami/twitter-logo_xhd6j6.png"
        alt="Twitter"
        style="width: 24px; margin: 0 5px;"
      />
    </a>
  </div>
  <p style="color: #1B2919;">hello@tatamihq.com</p>
  <p style="color: #1B2919;">©2024 Tatami. All rights reserved</p>
</div>
