<header>
  <div style="margin-bottom: 50px;">
    <img
      src="https://res.cloudinary.com/musonant/image/upload/v1728975015/Tatami/logo-primary_vjiicp.png"
      alt="Tatami Logo"
      style="width: 100px; height: 27px;"
    />
  </div>
  <div class="header" style="color: #004529; margin-bottom: 30px;">
    <h1>{{heading}}</h1>
  </div>
</header>
