<!DOCTYPE html>
<html>
  <body>
    {{> header}} <!-- Include header partial -->
    
    {{{body}}}  <!-- This is where the body of the email goes -->

    {{> footer}} <!-- Include footer partial -->
  </body>
</html>
