{{!-- 
Fields:
- title
- heading
- name
- deviceInfo
- date
- time
--}}

<div class="content">
  <p class="body-text">Hi {{name}},</p>

  <div class="body-text">
    <p>
      Your recent login to Tatami from {{deviceInfo}} on {{date}} {{time}} was successful.
    </p>
    <p>
      If this was you, there's no need to take any further action. However, if you didn't authorize this login, please secure your account immediately by resetting your password.
    </p>
  </div>
</div>
