{{!-- 
Fields:
- title
- heading
- name
- ctaUrl
--}}

<div class="content">
  <p class="body-text">Hi {{name}},</p>

  <p class="body-text">We wanted to let you know that your Tatami account password has been successfully updated.</p>

  <p class="body-text">If you made this change, no further action is needed. If you didn't request a password update or suspect any unauthorized activity, please contact our support team immediately.</p>

  <div class="button action-btn" style="display: block; width: 100%; text-align: center; margin: 20px 0; margin-top: 50px; margin-bottom: 50px;">
    <a href="{{ctaUrl}}" style="background-color: #2d3b2d; color: #ffffff; text-decoration: none; padding: 15px 20px; border-radius: 5px; font-size: 16px; display: block;">
      Contact support
    </a>
  </div>

</div>
