{{!-- 
Fields:
- title
- heading
- name
- rentAmount
- address
- dueDate
--}}

<div class="content">
  <p class="body-text">Hi {{name}},</p>

  <div class="body-text">
    <p>
      This is a friendly reminder that your rent payment of <b>{{rentAmount}}</b> for <b>{{address}}</b> is due on {{dueDate}}.
    </p>
    <p>
      Ready to get started? Log in to your account and explore all the
      features Tatami has to offer.
    </p>
    <p>We're thrilled to have you as part of the Tatami community!</p>
  </div>
</div>
